*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

:root{
    --font-size:17px;
    --border-radius:6px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(142deg,#222,#a55c1b);
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid #222;
    max-width: 600px;
    gap: 15px;
    background: rgba(255, 255, 255, 0.4);
    padding: 23px;
    border-radius: 8px;
}

input-container {
    display: flex;
    flex-direction: row;
}

#message-error , #input-error{
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: brown;
    display: none;
}

input,select{
    width: 100%;
    padding: 10px;
    font-size: var(--font-size);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.7);
}

input::placeholder{
    font-family: cursive;
}

input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea{
    width: 100%;
    height: 22vh;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-size: var(--font-size);
    resize: none;
    background: rgba(255, 255, 255, 0.7);
}

button {
    padding: 10px;
    font-size: large;
    border-radius: var(--border-radius);
    border: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.6) ;
    transition: 0.3s ease-in-out;
}

.error{
    border: 1px  solid brown;
    animation: shake 0.03s linear 10;
}

button:hover{
    
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px  0px  rgba(0, 2, 2, 0.6);
}

@keyframes shake {

    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

#char-count {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}